
.pd-lr-1 {
    padding: 0 1em;
}
.mr-lr-1 {
    margin: 0 1em;
}
.multiselect-pos {
    display: inline-block;
}
.spacer {
    height: 2.5em
}
.con{
    float: left;
}
.u-name{
    float: left;
    text-align: right;
}
.label-text{
    display: inline-block;
    font-size: 15px;
}